body {
    margin: 20px;
    height: 100%;
    font-family: 'PT sans', sans-serif;
	font-weight: 400;
    background-color: #e5e4e1;
}


/* Mobile layout starts here */

@media only screen and (max-width: 900px); {
}

h1 {
    color: #046C44;
    font-size: 5em;
}

h2 {
    color: #046C44;
    font-size: 3em;
}

h3 {
    color: #046C44;
    font-size: 2em;
}

h4 {
    color: #046C44;
    font-size: 1.5em;
}

p {
    color: #046C44;
}

.logo {
}

.home {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.home > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} 

.product {
    background-image: url(pictures/Vines_s.png);
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.product > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#video {
    max-height: 70%;
    max-width: 95%;
}
    
.review {
    background-image: url('pictures/Trees_S.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.review > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.bottle {
    max-height: 50%;
    max-width: 50%;
}

.material-icons {
    color: white;
}
    
.miljo {
    background-image: url('pictures/Primrose_s.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em; 
    display: flex;
    flex-wrap: nowrap;
}

.miljo > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
    
.gb {
    background-image: url('pictures/Sapling_s.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.gb > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}   

/* Navigation for Mobile starts here*/

span {
    background: #c50e68 !important;
}

li{
    margin-bottom: 2em !important;
    margin-right: 1em !important;
}

.fp-right {
    color: #cb2f82 !important;
    font-size: 1.2em !important;
    font-weight: bold;
}

/* Navigation for Mobile ends here*/

/* Mobile layout ends here */


/* Tablet layout starts here */

@media only screen and (min-width: 1200px); {    
}

h1 {
    color: #046C44;
    font-size: 5em;
}

h2 {
    color: #046C44;
    font-size: 3em;
}

h3 {
    color: #046C44;
    font-size: 2em;
}

h4 {
    color: #046C44;
    font-size: 1.5em;
}

p {
    color: #046C44;
}

.logo {
}

.home {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.home > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}  

.product {
    background-image: url(pictures/Vines_m.png);
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.product > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} 

#video {
    max-height: 70%;
    max-width: 95%;
}
    
.review {
    background-image: url('pictures/Trees_m.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.review > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.bottle {
    max-height: 50%;
    max-width: 50%;
}

.material-icons {
    color: white;
}
    
.miljo {
    background-image: url('pictures/Primrose_m.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em; 
    display: flex;
    flex-wrap: nowrap;
}

.miljo > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
    
.gb {
    background-image: url('pictures/Sapling_m.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.gb > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* Navigation for Tablet starts here*/

span {
    background: #c50e68 !important;
}

li{
    margin-bottom: 2em !important;
    margin-right: 1em !important;
}

.fp-right {
    color: #cb2f82 !important;
    font-size: 1.2em !important;
    font-weight: bold;
}

/* Navigation for Tablet ends here*/

/* Tablet layout ends here */


/* Computer layout starts here */

@media only screen and (min-width: 1920px); {    
}

h1 {
    color: #046C44;
    font-size: 5em;
}

h2 {
    color: #046C44;
    font-size: 3em;
}

h3 {
    color: #046C44;
    font-size: 2em;
}

h4 {
    color: #046C44;
    font-size: 1.5em;
}

p {
    color: #046C44;
}

.logo {
}

.home {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;    
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.home > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}  

.product {
    background-image: url(pictures/Vines_m.png);
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.product > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} 

#video {
    max-height: 70%;
    max-width: 95%;
}
    
.review {
    background-image: url('pictures/Trees_m.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.review > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.bottle {
    max-height: 50%;
    max-width: 50%;
}

.material-icons {
    color: white;
}
    
.miljo {
    background-image: url('pictures/Primrose_m.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em; 
    display: flex;
    flex-wrap: nowrap;
}

.miljo > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
    
.gb {
    background-image: url('pictures/Sapling_m.png');
    background-size: cover;
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
}

.gb > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* Navigation for Computer starts here*/

span {
    background: #c50e68 !important;
}

li{
    margin-bottom: 2em !important;
    margin-right: 1em !important;
}

.fp-right {
    color: #cb2f82 !important;
    font-size: 1.2em !important;
    font-weight: bold;
}

/* Navigation for Computer ends here*/

/* Computer layout ends here */