body {
    margin: 20px;
    color: #046C44;
	font-family: 'PT sans', sans-serif;
	font-weight: 400;
}

h1 {
    color: #046C44;
    font-size: 5em;
}

h2 {
    color: #046C44;
    font-size: 3em;
}

h3 {
    color: #046C44;
    font-size: 2em;
}

h4 {
    color: #046C44;
    font-size: 1.5em;
}

#video {
    max-height: 90%;
    max-width: 90%;
}

/* Navigation */

span {
    background: #046C44 !important;
    color: #046C44 !important;
    height: 1em !important;
    width: 1em !important;
}

li{
    margin-bottom: 3em !important;
    margin-right: 1em !important;
}

.fp-right {
    color: #046C44 !important;
    font-size: 1.2em !important;
    font-weight: bold;
}

/* Navigation */

body {
    height: 100%;
    background-color: #e5e4e1;
    background-blend-mode: multiply;
    color: #046C44;
    place-items: left;
}

.home {
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
}

.product {
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
}

.material-icons {
    color: white;
}


.miljø {
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
}

.gb {
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
}

<<<<<<< Updated upstream
=======
/* footer{
    font-size: 1em;
    text-align: right;
    background-color: ;
    color: #046C44;
    padding: 0.1em;
    padding-right: 1.2em;
    clear: both;
    position: relative;
} */

.bottle {
    text-align: center;
}

>>>>>>> Stashed changes
@media only screen and (max-width: 900px); {
    
/* Grid area starts here */

    display: ;
    grid-gap: 0px;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (10, 1fr);
    grid-template-areas:
    
}

<<<<<<< Updated upstream
/* Grid area ends here */

=======
>>>>>>> Stashed changes
.logo {
}

.home {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;
}    

.product {
    background-image: url(pictures/Vines_s.png);
    background-size: cover;
}    
    
.review {
    background-image: url('pictures/Trees_S.png');
    background-size: cover;
}
    
.miljø {
    background-image: url('pictures/Primrose_s.png');
    background-size: cover;
}
    
.gb {
    background-image: url('pictures/Sapling_s.png');
    background-size: cover;
    }
}

@media only screen and (min-width: 1200px); {    
<<<<<<< Updated upstream

/* Grid area starts here */

    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: repeat (5, 1fr);
    grid-template-areas:
    
/* Grid area ends here */
=======
}
>>>>>>> Stashed changes

.logo {
}

.home {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;
}    

.product {
    background-image: url(pictures/Vines_m.png);
    background-size: cover;
}    
    
.review {
    background-image: url('pictures/Trees_m.png');
    background-size: cover;
}
    
.miljø {
    background-image: url('pictures/Primrose_m.png');
    background-size: cover;
}
    
.gb {
    background-image: url('pictures/Sapling_m.png');
    background-size: cover;
    }
}

<<<<<<< Updated upstream
@media only screen and (min-width: 1920px) {    
  
/* Grid area starts here */

    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat (16, 1fr);
    grid-template-rows: repeat (4, 1fr);
    grid-template-areas: ;

}

/* Grid area ends here */  
=======
@media only screen and (min-width: 1920px); {    
}

.logo {
}
>>>>>>> Stashed changes

.home {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;    
}    

.product {
    background-image: url(pictures/Vines_m.png);
    background-size: cover;
}    
    
.review {
    background-image: url('pictures/Trees_m.png');
    background-size: cover;
}
    
.miljø {
    background-image: url('pictures/Primrose_m.png');
    background-size: cover;
}
    
.gb {
    background-image: url('pictures/Sapling_m.png');
    background-size: cover;
}

/* Alternate navigation start

nav {
    position: fixed;
    width: 15%;
    top: 0;
    height: 100%;
    color: white;
    overflow: hidden;
}

nav a {
    font-size: 2.3em;
}

nav ul li {
    margin-top: 50px;
    margin-bottom: 50px;
    list-style-type: none;
}

nav a:link, a:visited {
    color: #046C44;
    text-decoration: none;
}

nav li a:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#hiddenh {
    max-width: 0;
    opacity: 0;
    transition: 0.1s ease-in;
}

#hiddenp {
    max-width: 0;
    opacity: 0;
    transition: 0.1s ease-in;
}

#hiddenr {
    max-width: 0;
    opacity: 0;
    transition: 0.1s ease-in;
}

#hiddenm {
    max-width: 0;
    opacity: 0;
    transition: 0.1s ease-in;
}

#hiddeng {
    max-width: 0;
    opacity: 0;
    transition: 0.1s ease-in;
}

#hiddenh:hover {
    opacity: 1;
    max-width: 1em;
}

#hiddenp:hover {
    opacity: 1;
    max-width: 1em;
}
#hiddenr:hover {
    opacity: 1;
    max-width: 1em;
}

#hiddenm:hover {
    opacity: 1;
    max-width: 1em;
}

#hiddeng:hover {
    opacity: 1;
    max-width: 1em;
    }
<<<<<<< Updated upstream
}
=======
}

<<<<<<< Updated upstream
/* Nav end */
>>>>>>> Stashed changes
