body {
    margin: 0;
	background: #e5e4e1;
    color: #046C44;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
    max-width: 1000px; margin: 0 auto; 
}


h1 {
    color: #046C44;
    font-size: 2em;
}

h2 {
    color: #046C44;
}

h3 {
    color: #046C44;
}

h4 {
    color: #046C44;
}

.body {
    height: 100%;
    background-color: #e5e4e1;
    background-blend-mode: multiply;
    background-size: cover;
    color: #046C44;
    display: grid;
    place-items: left;
}

#product{
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-top: 5.1em;
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

#review{
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-bottom: 0.88em;
    font-size: 1.2em;
}

#miljø{
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

#gb{
    padding: 0.2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

/* footer{
    font-size: 1em;
    text-align: right;
    background-color: ;
    color: #046C44;
    padding: 0.1em;
    padding-right: 1.2em;
    clear: both;
    position: relative;
} */

.wrapper {
    min-height: 100%;
}

