{
    margin: 0;
    padding: 0;
}

/* Grid area description start */
    
#iteml {
    grid-area: il;
} 
    
#itemv {
    grid-area: iv;
}
    
#itemp1 {
    grid-area: pp;
}
    
#itemp2 {
    grid-area: mp;
}
    
#itemp3 {
    grid-area: gbp;
}

#item1 {
    grid-area: i1;
}

#item2 {
    grid-area: i2;
}

#item3 {
    grid-area: i3;
}

#item4 {
    grid-area: i4;
}

#item5 {
    grid-area: i5;
}

#item6 {
    grid-area: i6;
}

#item7 {
    grid-area: i7;
}

#itemb {
    grid-area: ib;
}
    
#sikker {
    grid-area: sb;
}
    
#fakta {
    grid-area: fb;
}    
    
#revb {
    grid-area: rb;
}        
    
#gbb {
    grid-area: gb;
}

#itemh1 {
    grid-area: hh;
}
    
#itemh2 {
    grid-area: ph;
}
    
#itemh3 {
    grid-area: rh;
}    
    
#itemh4 {
    grid-area: mh;
}

#itemh5 {
    grid-area: gbh;
}

/* Grid area description end */

/* Mobile layout starts here */

@media only screen and (max-width: 800px) and (min-width: 200px) {
    
body {
    font-family: 'PT sans', sans-serif;
	font-weight: 400;
    background-color: #e5e4e1;
}    
    
h1 {
    color: #046C44;
    font-size: 60px;
}

h2 {
    color: #046C44;
    font-size: 40px;
}

h3 {
    color: #046C44;
    font-size: 12px;
}

h4 {
    color: #046C44;
    font-size: 7px;
}

p {
    color: #046C44;
    font-size: 18px;
}

.logo {
    max-width: 200px;
    max-height: 150px;
}

.home > div {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;
    background-position: center;
    padding-left: ;
    padding-right: ;
        
    display: grid;
    grid-gap: 0px;
    grid-template-columns: (1fr 1fr 1fr);
    grid-template-rows: (1fr 1fr 1fr);
    grid-template-areas:
        "il . ."
        "hh hh ."
        ". . .";
}

.product > div {
    background-image: url(pictures/Vines_s.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
    
#video {
    max-height: 70%;
    max-width: 95%;
}
    
.review > div {
    background-image: url('pictures/Trees_s.png');
    background-size: cover;
    background-position: center;
    padding-left: ;
    padding-right: ;
    text-align: center;
    align-content: center;
        
    display: grid;
    overflow: hidden;
    grid-gap: 2px;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (5, 1fr);
    grid-template-areas:
        "rh i1 "
        ". i2 "
        "ib i3 "
        "ib i4 "
        "ib i5 "
        ". i6 "
        "rb i7 "
        ". . ";
}
    
.bottle {
    max-height: 75%;
    max-width: 75%;
}

.material-icons {
    color: darkorange;
    max-height: 15%;
    max-width: 15%;
}
    
.miljo > div {
    background-image: url('pictures/Primrose_s.png');
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    padding-right: 15%;
}

.gb > div {
    background-image: url('pictures/Sapling_s.png');
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    padding-right: 15%;
}

.button {
    background-color: #046C44; 
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button a {
    color: white;
    text-decoration: none;
}    

/* Navigation for Mobile starts here*/

span {
    background: #c50e68 !important;
}

li {
    margin-bottom: 2em !important;
    margin-right: 1em !important;
}

.fp-right {
    color: #cb2f82 !important;
    font-size: 1.2em !important;
    font-weight: bold;
    }
}

/* Navigation for Mobile ends here*/

/* Mobile layout ends here */


/* Tablet layout starts here */

@media only screen and (max-width: 1700px) and (min-width: 801px) {    

body {
    font-family: 'PT sans', sans-serif;
	font-weight: 400;
    background-color: #e5e4e1;
}    
    
h1 {
    color: #046C44;
    font-size: 90px;
}

h2 {
    color: #046C44;
    font-size: 80px;
}

h3 {
    color: #046C44;
    font-size: 30px;
}

h4 {
    color: #046C44;
    font-size: 15px;
}

p {
    color: #046C44;
    font-size: 35px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.home > div {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 10%;
    padding-right: ;
    
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas:
        ". . . ."
        "il il . ."
        "hh hh hh ."
        ". . . ."
        ". . . ."
        ". . . .";
}  

.product > div {
    background-image: url(pictures/Vines_m.png);
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    align-content: center;
}

#video {
    max-height: 70%;
    max-width: 95%;
}
    
.review > div {
    background-image: url('pictures/Trees_m.png');
    background-size: cover;
    background-position: center;
    padding-left: 1%;
    padding-right: ;
    text-align: center;
    align-content: center;
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas:
        "rh rh ."
        "i6 i3 i4"
        "i5 ib i1"
        "i2 ib i7"
        ". rb ."
        ". . .";
}

.bottle {
    max-height: 80%;
    max-width: 80%;
}

.material-icons {
    color: darkorange;
}
    
.miljo > div {
    background-image: url('pictures/Primrose_m.png');
    background-size: cover;
    background-position: center;
    padding-left: 10%;
    padding-right: 10%;
}
    
.gb > div {
    background-image: url('pictures/Sapling_m.png');
    background-size: cover;
    background-position: center;
    padding-left: 10%;
    padding-right: 10%;
}
    
.button {
    background-color: #046C44; 
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button a {
    color: white;
    text-decoration: none;
}    

/* Navigation for Tablet starts here*/

span {
    background: #c50e68 !important;
}

li {
    margin-bottom: 2em !important;
    margin-right: 1em !important;
}

.fp-right {
    color: #cb2f82 !important;
    font-size: 1.2em !important;
    font-weight: bold;
    }
}
/* Navigation for Tablet ends here*/

/* Tablet layout ends here */


/* Computer layout starts here */

@media only screen and (max-width: 4500px) and (min-width: 1701px) {    

body {
    font-family: 'PT sans', sans-serif;
	font-weight: 400;
    background-color: #e5e4e1;
}
    
h1 {
    color: #046C44;
    font-size: 120px;
}

h2 {
    color: #046C44;
    font-size: 80px;
}

h3 {
    color: #046C44;
    font-size: 25px;
}

h4 {
    color: #046C44;
    font-size: 15px;
}

p {
    color: #046C44;
    font-size: 30px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.home > div {
    background-image: url(pictures/Kul%C3%B8rt%20vask%20forst%C3%B8rret%20billede.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 15%;
    padding-right: 15%;
    
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas:
        ". . . . . ."
        "il il . . . ."
        "hh hh hh . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . .";
}  

.product > div {
    background-image: url(pictures/Vines_m.png);
    background-size: cover;
    background-position: center;
    padding-left: ;
    padding-right: ;
    text-align: center;
    align-content: center;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas:
        ". . ph . ."
        "iv iv iv iv iv"
        ". pp pp pp ."
        ". sb . fb ."
        ". . . . ."
        ". . . . .";
}

#video {
    max-height: 100%;
    max-width: 50%;
}
    
.review > div {
    background-image: url('pictures/Trees_m.png');
    background-size: cover;
    background-position: center;
    padding-left: 1%;
    padding-right: ;
    text-align: center;
    align-content: center;
    
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (6, 1fr);
    grid-template-areas:
        "rh . ."
        "i5 ib i4"
        "i7 ib i1"
        "i2 i3 i6"
        ". rb ."
        ". . .";
}

.bottle {
    max-height: 40%;
    max-width: 40%;
}

.material-icons {
    color: darkorange;
}
    
.miljo > div {
    background-image: url('pictures/Primrose_m.png');
    background-size: cover;
    background-position: center;
    padding-left: 15%;
    padding-right: 30%;
}
    
.gb > div {
    background-image: url('pictures/Sapling_m.png');
    background-size: cover;
    background-position: center;
    padding-left: 15%;
    padding-right: 30%;
}
    
.button {
    background-color: #046C44; 
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button a {
    color: white;
    text-decoration: none;
}
    
/* Navigation for Computer starts here*/

span {
    background: #c50e68 !important;
}

li {
    margin-bottom: 2em !important;
    margin-right: 1em !important;
}

.fp-right {
    color: #cb2f82 !important;
    font-size: 1.2em !important;
    font-weight: bold;
    }
}
/* Navigation for Computer ends here*/

/* Computer layout ends here */